:root {
  --main-color: #d0ae5e;
  --second-color: #f7f5e7;
  --three-color: #707070;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
}

.p-tb {
  padding: 110px 0;
}

.opacity {
  transition: opacity 0.3s ease;
}

.opacity:hover {
  opacity: 0.8;
}

.main-border {
  border-bottom: 1px solid #ececec;
}

.btn-rounded {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 25px;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .p-tb {
    padding: 68px 0;
  }
}
/* Header */
header {
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.1);
  transition: padding 0.3s linear;
}

header.black-header {
  background-color: #000;
  padding: 12px 0 !important;
  border-bottom: 0;
}

header .navbar-brand img {
  max-height: 35px;
}

header .book-btn {
  background-color: var(--main-color);
  display: inline-block;
  padding: 3px 17px;
}

header ul li a {
  font-size: 12px !important;
  font-weight: 500 !important;
}

@media (max-width: 768px) {
  header .navbar-nav {
    background-color: #111 !important;
  }
  header .navbar-nav li {
    padding: 10px;
    border-bottom: 0.8px solid rgba(255, 255, 255, 0.3);
  }
}

/* Home Section */
.home {
  background-size: cover;
  height: calc(100vh + 220px);
  position: relative;
}

.home-owl .owl-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}

.owl-page.active span {
  background-color: #fff !important;
}
#home-slider-1 {
  background-image: url("../images/agency-slider-01.jpg");
}

#home-slider-2 {
  background-image: url("../images/agency-slider-2.jpg");
}

#home-slider-3 {
  background-image: url("../images/agency-slider-03.jpg");
}

.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.home .slider-box {
  background-color: #f26149;
  padding: 24px;
}

.home .slider-box-border {
  padding: 48px;
  border: 6px solid #fff;
}

.home .slider-box-title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 0.13px;
  line-height: 78px;
  text-align: left;
  height: 160px;
}

.home .slider-box-desc {
  line-height: 28px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 32px;
  font-family: sans-serif;
}

.home a {
  font-size: 12px !important;
  font-family: "Montserrat", sans-serif;
  padding: 8px 20px;
  border: 2px solid #fff;
}

@media (max-width: 992px) {
  .home h1 {
    font-size: 60px !important;
  }
  .home .slider-box-border {
    padding: 32px !important;
  }
}

/* About Section */
#about img {
  max-width: 100%;
  height: auto;
}

#about h2 {
  font-size: 25px;
  color: rgb(78, 43, 31);
  line-height: 33px;
  margin-bottom: 18px;
}

#about .content {
  color: var(--three-color);
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 28px;
}

#about p {
  color: var(--three-color);
  letter-spacing: 0.13px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 22px;
}

#about .btn-explore {
  font-size: 12px;
  font-weight: 600;
  padding: 8px 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 30px;
  cursor: pointer;
}

/* Services  Section*/
#services h3 {
  font-size: 14px;
  color: #282828;
  margin-bottom: 5px;
  margin-top: 22px;
}

#services p {
  font-size: 14px;
  color: var(--three-color);
  margin-bottom: 5px;
  line-height: 24px;
}

/* Services Discover Section */
#services-discover {
  background-color: var(--second-color);
}

#services-discover div {
  color: #282828;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

#services-discover h2 {
  color: #4e2b1f;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
}

#services-discover p {
  color: var(--three-color);
  font-size: 14px;
  line-height: 1.8;
}

#services-discover .discover {
  background-image: url("../images/restaurant-services-bg.jpg");
  background-size: cover;
  height: 690px;
}

#services-discover a {
  color: white;
  background-color: var(--main-color);
}

/* Menu Section */
#menu-section {
  background-image: url('../images/restaurant-menu-bg.jpg');
  background-size: cover;
  position: relative;

}

#menu-section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);  
}

#menu-section h2 {
  color: #4e2b1f;
  line-height: 2;
  font-size: 35px;
}

#menu-section .menu-text {
  color: var(--three-color);
  font-size: 14px;
  line-height: 1.7;
  max-width: 710px;
  margin-bottom: 65px;
}

#menu-section .nav-menu {
  display: flex;
  justify-content: center;
}
#menu-section .nav-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#menu-section .nav-menu a {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#menu-section .nav-menu li:hover a {
  opacity: 1;
}
#menu-section .nav-menu span {
  color: var(--main-color);
  font-size: 14px;
}

#menu-section .menu-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
}

#menu-section .menu-item {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 16px;

}
#menu-section .menu-item h3 {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
#menu-section .menu-item-title {
  flex: 1 ;
}

#menu-section .menu-item-desc {
  font-size: 14px;
  color: #282828;
  line-height: 1.7;
  margin-bottom: 22px;

}
@media (max-width: 768px){
  #menu-section .nav-menu {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px
  }

  #menu-section .menu-container {
    grid-template-columns: 1fr;
  }
}